*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

.green {
  color: #7d7;
}

.blue {
  color: #7af;
}

.orange {
  color: #fa3;
}

.purple {
  color: #c3c;
}

.red {
  color: #f55;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 8vmin;
}

.item:first-child {
  font-family: "Ubuntu", sans-serif;
  font-size: 20vmin;
}
